@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    text-align: center;
    color: white;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vw;
}
header > p{
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 30px;
    font-weight: bold;
    font-size: 3.4vw;
    font-style: italic;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(38, 38, 38);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.702);
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 7px;
    background-color: rgba(29, 29, 29, 0.535);
    text-shadow: 2px 2px 0px black;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
}
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}